{% include 'sitio/head.html' %}

    <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Formulario de edicion</h5>
                    <div class="card-body">
                      <form action="/sitio/actualizar_user" method="post">
                        <div class="mb-3">
                          <label for="" class="form-label">ID</label>
                          <input type="number" class="form-control" value="{{ usuario['ID'] }}" name="ID" placeholder="ID del usuario" readonly>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Username</label>
                          <input type="text" class="form-control" value="{{ usuario['Username'] }}" name="Username" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Password</label>
                          <input type="text" class="form-control" value="{{ usuario['Password'] }}" name="Password" required>
                        </div>
                        <button type="submit" class="btn btn-success">Actualizar</button>
                      </form>
                    </div>
                </div>
            </div>
          <div class="col-md-4">
          </div>
        </div>
        
    </div>
    

{% include 'sitio/footer.html' %}